<% content_for :title, "Tsueets" %>

<div class="mb-4">
  <%= turbo_frame_tag 'new_tsueet', src: new_tsueet_path %>
</div>

<div id="tsueets">
  <% @tsueets.each do |tsueet| %>
    <div class="mb-4">
      <%= render tsueet %>
    </div>
  <% end %>
</div>
