<p style="color: green"><%= notice %></p>

<% content_for :title, "Tsueets" %>

<h1>Tsueets</h1>

<div id="tsueets">
  <%# TODO: あとで降順にする %>
  <% @tsueets.each do |tsueet| %>
    <div class="mb-4">
      <%= render tsueet %>
    </div>
  <% end %>
</div>

<%# TODO: あとでページ上に移動する %>
<%= turbo_frame_tag 'new_tsueet', src: new_tsueet_path %>
